################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sdf
*.opensdf
*.sln.DotSettings.user
*proj.user
bin/
obj/
Debug/
ipch/